/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --animation-duration: 1000ms;
  --bg-color: ;
  --bg-gradient: linear-gradient(
    190deg,
    hsla(290, 50%, 8%) 0%,
    hsla(290, 50%, 8%, 0.978) 9.5%,
    hsla(290, 50%, 8%, 0.925) 17.7%,
    hsla(290, 50%, 8%, 0.857) 24.7%,
    hsla(290, 50%, 8%, 0.781) 31%,
    hsla(290, 50%, 8%, 0.701) 36.8%,
    hsla(290, 50%, 8%, 0.62) 42.3%,
    hsla(290, 50%, 8%, 0.538) 47.6%,
    hsla(290, 50%, 8%, 0.455) 52.9%,
    hsla(290, 50%, 8%, 0.373) 58.2%,
    hsla(290, 50%, 8%, 0.291) 63.7%,
    hsla(290, 50%, 8%, 0.212) 69.5%,
    hsla(290, 50%, 8%, 0.138) 75.8%,
    hsla(290, 50%, 8%, 0.07) 82.9%,
    hsla(290, 50%, 8%, 0.019) 91.2%,
    hsla(290, 50%, 8%, 0) 100%
  );
  --bg-glow: linear-gradient(
    hsl(283, 77%, 31%) 0%,
    hsla(283, 77%, 31%, 0.978) 9.5%,
    hsla(283, 77%, 31%, 0.925) 17.7%,
    hsla(283, 77%, 31%, 0.857) 24.7%,
    hsla(283, 77%, 31%, 0.781) 31%,
    hsla(283, 77%, 31%, 0.701) 36.8%,
    hsla(283, 77%, 31%, 0.62) 42.3%,
    hsla(283, 77%, 31%, 0.538) 47.6%,
    hsla(283, 77%, 31%, 0.455) 52.9%,
    hsla(283, 77%, 31%, 0.373) 58.2%,
    hsla(283, 77%, 31%, 0.291) 63.7%,
    hsla(283, 77%, 31%, 0.212) 69.5%,
    hsla(283, 77%, 31%, 0.138) 75.8%,
    hsla(283, 77%, 31%, 0.07) 82.9%,
    hsla(283, 77%, 31%, 0.019) 91.2%,
    hsla(283, 77%, 31%, 0) 100%
  );
  --active-bg-gradient: linear-gradient(
    130deg,
    rgba(148, 148, 206, 0.9) 30%,
    rgba(5, 4, 56, 0.5) 45%,
    rgba(0, 77, 64, 0.8) 75%,
    rgba(0, 212, 255, 1) 100%
  );
  --body-bg-gradient: linear-gradient(
    90deg,
    rgba(1, 0, 36, 1) 0%,
    rgba(0, 77, 64, 1) 77%,
    rgba(0, 212, 255, 1) 100%
  );
  --pulse-bg-gradient: rgba(205, 174, 236, 0.99)
    radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.9) 1%)
    center/0%;
  --shine-bg-gradient: linear-gradient(
    75deg,
    transparent 10%,
    rgba(255, 255, 255, 0.2) 90%,
    transparent 10%
  );
  --active-box-shadow: -0.28em 1.25em 0em 0em rgba(0, 0, 0, 0.5),
    -0.38em 0 0 chocolate, inset 0.1em 0 0 chocolate,
    inset -0.3em 0 0em 0em rgba(0, 0, 0, 0.5),
    0.1em 2em 1.5em rgba(0, 0, 0, 0.8),
    inset -0.5em -0.1em 0 rgba(255, 255, 255, 0.8);
  --grid-item-width: 10vw;
  --grid-item-height: 11vw;
}

html,
body {
  margin: 0em;
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  background: var(--body-bg-gradient);
}

/* added on pointer down event */
/* min-height: 200vh; */
/* overflow-y: hidden; */
/* background: inherit; */
.active-body {
  background-image: var(--active-bg-gradient);
  /* margin-bottom: 0; */
  /* contain: paint; */
}

/* body.active-body::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: var(--bg-gradient);
  animation: 20s glow ease-in-out infinite 0ms;
} */

.fullscreen-video {
  /* position: absolute; */
  /* object-fit: cover; */
  /* overflow: hidden; */
  /* top: 50%;
  left: 50%; */
  /* min-width: 100%;
  min-height: 100%; */
  /* width: auto;
  height: auto; */
  /* transform: translateX(-50%) translateY(-50%); */
  z-index: -10;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  /* z-index: 0; */
  opacity: 0;
  animation: videofade 9.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1000ms 1
    forwards;
  /* transition: opacity 10s cubic-bezier(0.25, 0.46, 0.45, 0.94); */
}
@keyframes videofade {
  20% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

.bg-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  opacity: 1;
  z-index: -9;
  animation: fadeout 9.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms 1 forwards;
}

@keyframes fadeout {
  20% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

/* Page Wrapper */
.page-wrapper {
  display: flex;
  flex-direction: column;
  /* background: transparent; */
}

section {
  /* background: transparent; */
  font-size: inherit;
}

button {
  outline: none;
  border: none;
  border-style: none;
  cursor: pointer;
}

.btn {
  font-size: 2.25vw;
  z-index: 999;
  padding: 0.75em 0.5em;
  border-radius: 0.5em;
  word-wrap: normal;
  overflow: hidden;
  box-shadow: -0.2em 0.25em 0.25rem 0 rgba(0, 0, 0, 0.3);
  transition: background 400ms,
    opacity var(--animation-duration) linear var(--animation-duration);
  color: rgba(231, 218, 218, 0.795);
  background-color: hsla(280, 5%, 12%, 0.95);
}
.change-view {
  position: sticky;
  top: 5%;
  left: 80%;
  opacity: 0;
}
.btn.change-view:hover {
  transform: scale(1.05);
  background-color: hsla(280, 5%, 12%, 0.8);
}

.btn.dark-mode {
  position: sticky;
  top: 5%;
  left: 0%;
}

.btn.dark-mode:hover {
  transform: scale(1.05);
  background-color: hsla(280, 5%, 12%, 0.8);
}

/* https://css-tricks.com/how-to-recreate-the-ripple-effect-of-material-design-buttons/ */

span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(230, 204, 204, 0.75);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* The Grid */
/* grid-template-columns: repeat(auto-fit, minmax(19em, 1fr)); */
/* grid-auto-rows: minmax(3.125em, auto); */
.grid-container {
  background-color: rgba(236, 227, 227, 0.2);
  background-image: url("./Icons/digital-device-mockup/phone-mock-rotated.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3vw;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  justify-content: center;
  /* outline: 0.5vw solid rgba(194, 189, 231, 0.3); */
  border: 1vw outset rgba(194, 189, 231, 0.418);
  box-shadow: var(--active-box-shadow);

  /* box-shadow: 0em -0.625em 0.625em 12.5em rgba(156, 78, 78, 0.2); */
  padding: 3.2vw 3vw 3.2vw 6vw;
  border-radius: 3.125em;
  pointer-events: none;
  transform: rotate(90deg);
  transform-style: preserve-3d;
  transition: transform 500ms linear;
  /* will-change: transform; */
  overflow: hidden;
  position: relative;
  opacity: 0;
  animation: showGridContainer 5000ms ease 1s forwards;
}

@keyframes showGridContainer {
  100% {
    opacity: 1;
  }
}

.grid-container::after {
  content: "";
  position: absolute;
  top: 0%;
  left: -1vw;
  width: 105vw;
  height: 100vh;
  background-image: var(--bg-gradient);
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--animation-duration) ease;
  z-index: -1;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 10000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 10000ms;
  box-shadow: -0.31em 3.15em 30em 0.625em rgba(102, 51, 153, 0.8);
  border-radius: 1.25em;
  height: var(--grid-item-height);
  width: var(--grid-item-width);
  touch-action: none;
  user-select: none;
  cursor: grab;
  pointer-events: all;
  z-index: 0;
}

.grid-item img {
  transition: transform 2000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform: rotate(-90deg);
  opacity: 1;
  /* will-change: transform; */
}

/* active states activated on pointer down event */
/* outline: rgba(194, 189, 231, 0.3) groove 0.2vw;
  outline-offset: -2.3vw; */
/* background-image: var(--bg-gradient),
    url("./Icons/digital-device-mockup/phone-mock-rotated.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, contain;
  background-position: center, center;
  background-origin: border-box, border-box; */
.active {
  transition: transform 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
  transform: perspective(157em) rotateX(45deg) scale3d(0.9, 1.05, 2)
    translate3d(0em, -7.5em, -3.5em);
  outline: none;
  /* background-blend-mode: overlay; */
  will-change: transform, box-shadow;
}

/* For Shine */
.active:before {
  content: "";
  position: absolute;
  top: 0%;
  left: -5vw;
  width: 105vw;
  height: 100vh;
  animation: 1200ms shine cubic-bezier(0.445, 0.05, 0.55, 0.95) 1 250ms;
}

.active .grid-item {
  font-size: inherit;
  box-shadow: 0.1em 0.3em 0em 0.125em rgba(255, 237, 237, 0.1);
}

.active .grid-item img {
  transition: all 750ms ease;
  transform: rotate(0) translate3d(0em, -0.2em, 6.25em);
  /* will-change: transform; */
}

/* add on pointer down and remove on pointer up */
.dragging-active-item-down {
  cursor: grabbing;
  pointer-events: none;
  transform: rotate(-5deg) scale(1.25);
  animation: pulse var(--animation-duration) 1;
  /* will-change: transform; */
}

/* add on pointer move after cloning and remove on pointer up */
.dragging-active-item-move {
  position: absolute;
  z-index: 999;
  top: auto;
  left: auto;
  /* will-change: left, top; */
}

/* grid items animation on pointer down and romoved on move and/or pointer up */
.pulse {
  animation: pulse var(--animation-duration) infinite;
  /* will-change: transform, border; */
  border: inherit;
}

@keyframes pulse {
  0% {
    transform: rotate(-0.75deg);
    border-left: 5px solid rgb(102, 51, 153);
  }
  25% {
    transform: rotate(0.75deg);
    border-bottom: 5px solid rebeccapurple;
  }
  50% {
    transform: rotate(-0.75deg) scale(1.02);
    border-right: 5px solid rebeccapurple;
  }
  75% {
    transform: rotate(-0.75deg);
    border-top: 5px solid rebeccapurple;
  }
  100% {
    transform: rotate(0.75deg);
    border: 5px solid transparent;
    background: var(--pulse-bg-gradient);
  }
}

/* pulse other grid items on move */
.pulse-griditems {
  animation: pulse-gridItems var(--animation-duration) infinite;
  /* will-change: transform, border; */
  border: inherit;
}

@keyframes pulse-gridItems {
  0% {
    transform: rotate(-0.75deg);
  }
  25% {
    transform: rotate(0.75deg);
  }
  50% {
    transform: rotate(-0.75deg) scale(1.02);
  }
  75% {
    transform: rotate(-0.75deg);
  }
  100% {
    transform: rotate(0.75deg);
  }
}

/* shine for rotation transition of section .grid-container */
@keyframes shine {
  0% {
    background-size: 10000%;
    background: var(--shine-bg-gradient);
    background-repeat: no-repeat;
    background-position: -50vw;
  }
  100% {
    background-position: 300vw;
  }
}

/* shine for rotation transition of section .grid-container */
@keyframes glow {
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
